.logo {
    margin-left: 45px;
}

.dropdown-menu {
    display: none;
    opacity: 1;
    position: absolute;
    top: 80%;
    margin-left: -20px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    border: none;
    padding: 10px;
    min-width: 100px;
}

.nav-item:hover .dropdown-menu {
    display: block;
    opacity: 1;
}

.dropdown-item {
    padding: 8px 12px;
    color: #000000;
    transition: all 0.4s;
    border-radius: 30px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #000000;
    color: white;
}

.navbar-icons {
    display: flex;
    gap: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.navbar-nav {
margin-left: 32%;

}

.navbar-icons a {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link-new{
    cursor: pointer;
    margin-left: 240%;
}
